*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-size: 16px;
  font-size: calc(16px * var(--scale-multiplier)); }
  @media (min-width: 1440px) {
    html {
      font-size: 16px;
      font-size: calc( (0.0083333333 * 100vw + (4px)) * var(--scale-multiplier) ); } }
  @media (min-width: 1680px) {
    html {
      font-size: 18px;
      font-size: calc(18px * var(--scale-multiplier)); } }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  font-family: halyard-display, 'Halyard Display', -apple-system, BlinkMacSystemFont, sans-serif; }

div.underlay {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; }

h2.underlay__row {
  margin: 0 0 1.11111111vh 0;
  padding: 0;
  color: #222;
  opacity: 1;
  line-height: 1;
  font-size: 8.888888888vh;
  font-weight: 600;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h2.underlay__row--flipped {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

h2.underlay__row:nth-child(2) {
  opacity: calc(1 - (2 - 1) * 0.12);
  -moz-transform: translateX(-12.3456790123vh);
  -webkit-transform: translateX(-12.3456790123vh);
  -o-transform: translateX(-12.3456790123vh);
  -ms-transform: translateX(-12.3456790123vh);
  transform: translateX(-12.3456790123vh); }

h2.underlay__row:nth-child(9) {
  opacity: calc(1 - (2 - 1) * 0.12);
  -moz-transform: translateX(-37.037037037vh) scale(1, -1);
  -webkit-transform: translateX(-37.037037037vh) scale(1, -1);
  -o-transform: translateX(-37.037037037vh) scale(1, -1);
  -ms-transform: translateX(-37.037037037vh) scale(1, -1);
  transform: translateX(-37.037037037vh) scale(1, -1); }

h2.underlay__row:nth-child(3) {
  opacity: calc(1 - (3 - 1) * 0.12);
  -moz-transform: translateX(-24.6913580247vh);
  -webkit-transform: translateX(-24.6913580247vh);
  -o-transform: translateX(-24.6913580247vh);
  -ms-transform: translateX(-24.6913580247vh);
  transform: translateX(-24.6913580247vh); }

h2.underlay__row:nth-child(8) {
  opacity: calc(1 - (3 - 1) * 0.12);
  -moz-transform: translateX(-24.6913580247vh) scale(1, -1);
  -webkit-transform: translateX(-24.6913580247vh) scale(1, -1);
  -o-transform: translateX(-24.6913580247vh) scale(1, -1);
  -ms-transform: translateX(-24.6913580247vh) scale(1, -1);
  transform: translateX(-24.6913580247vh) scale(1, -1); }

h2.underlay__row:nth-child(4) {
  opacity: calc(1 - (4 - 1) * 0.12);
  -moz-transform: translateX(-37.037037037vh);
  -webkit-transform: translateX(-37.037037037vh);
  -o-transform: translateX(-37.037037037vh);
  -ms-transform: translateX(-37.037037037vh);
  transform: translateX(-37.037037037vh); }

h2.underlay__row:nth-child(7) {
  opacity: calc(1 - (4 - 1) * 0.12);
  -moz-transform: translateX(-12.3456790123vh) scale(1, -1);
  -webkit-transform: translateX(-12.3456790123vh) scale(1, -1);
  -o-transform: translateX(-12.3456790123vh) scale(1, -1);
  -ms-transform: translateX(-12.3456790123vh) scale(1, -1);
  transform: translateX(-12.3456790123vh) scale(1, -1); }

h2.underlay__row:nth-child(5) {
  opacity: calc(1 - (5 - 1) * 0.12);
  -moz-transform: translateX(-49.3827160494vh);
  -webkit-transform: translateX(-49.3827160494vh);
  -o-transform: translateX(-49.3827160494vh);
  -ms-transform: translateX(-49.3827160494vh);
  transform: translateX(-49.3827160494vh); }

h2.underlay__row:nth-child(6) {
  opacity: calc(1 - (5 - 1) * 0.12);
  -moz-transform: translateX(0vh) scale(1, -1);
  -webkit-transform: translateX(0vh) scale(1, -1);
  -o-transform: translateX(0vh) scale(1, -1);
  -ms-transform: translateX(0vh) scale(1, -1);
  transform: translateX(0vh) scale(1, -1); }

h2.underlay__row:nth-child(6) {
  margin: 3.20987654vh 0 1.111111111vh 0; }

h2.underlay__row:nth-child(10) {
  -moz-transform: translateX(-49.3827160494vh) scale(1, -1);
  -webkit-transform: translateX(-49.3827160494vh) scale(1, -1);
  -o-transform: translateX(-49.3827160494vh) scale(1, -1);
  -ms-transform: translateX(-49.3827160494vh) scale(1, -1);
  transform: translateX(-49.3827160494vh) scale(1, -1); }

.content {
  position: relative;
  top: 50%;
  z-index: 1;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 28.3125rem;
  margin: 0 auto;
  color: white; }

.content__title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: baseline;
  margin: 0 0 1.5rem 0;
  font-weight: 600; }

h1.content__title__english {
  flex: 0 auto;
  margin: 0;
  font-size: 3rem;
  line-height: 1; }

h4.content__title__korean {
  flex: 0 auto;
  margin: 0 0 0 0.75rem;
  font-family: 'Gothic A1', sans-serif;
  font-size: 1rem;
  line-height: 1; }

.content__group {
  margin: 0 0 0.875rem 0; }

.content__group__line {
  margin: 0;
  line-height: 1.875rem;
  font-size: 1.125rem;
  font-weight: 400;
  color: #ccc; }

a {
  color: #ccc;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid #ccc;
  -webkit-transition: all 150ms cubic-bezier(0.64, 0.04, 0.35, 1);
  -moz-transition: all 150ms cubic-bezier(0.64, 0.04, 0.35, 1);
  -ms-transition: all 150ms cubic-bezier(0.64, 0.04, 0.35, 1);
  -o-transition: all 150ms cubic-bezier(0.64, 0.04, 0.35, 1);
  transition: all 150ms cubic-bezier(0.64, 0.04, 0.35, 1); }
  a:hover {
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0); }

.content__group--links {
  margin: 1.75rem 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .content__group--links .content__group__line {
    flex: 1 auto; }

/*# sourceMappingURL=main.css.map */
